alembic==1.16.5
certifi==2026.1.4
charset-normalizer==3.4.4
flake8==7.1.1
greenlet==3.3.0
idna==3.11
Mako==1.3.10
MarkupSafe==3.0.3
mccabe==0.7.0
pycodestyle==2.12.1
pyflakes==3.2.0
pyTelegramBotAPI==4.22.1
python-dotenv==1.0.1
requests==2.32.5
SQLAlchemy==2.0.43
tomli==2.3.0
typing_extensions==4.15.0
urllib3==2.6.3
